@use "../../../styles.scss" as *;

.solana-acc-roles {
  font-size: 10px;
}

.instruction-actions {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.instruction-divider {
  color: $secondary !important;
  border-color: $secondary !important;
}
