@use "../../../styles.scss" as *;

.solana-acc-roles {
  font-size: 10px;
}

.ix-form {
  width: 100%;
}

.inner-advanced-ix-form {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.instruction-actions {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.instruction-divider {
  color: $secondary !important;
  border-color: $secondary !important;
}

.advanced-ix {
  height: 100%;
}

.instruction-menu {
  width: 350px;
}

.advanced-ix-footer {
  height: 50px;
}

.ix-controller {
  margin-bottom: 10px;
}

.ix-drag {
  margin-right: 10px;
  cursor: grab;
  :active {
    cursor: grabbing;
  }
}

.ix-title {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.advanced-mode {
  color: $success;
}
