@import "../../styles.scss";

.contract-template-card {
  width: 360px;
  height: min-content;
}

.template-name {
  word-break: break-word;
  color: $secondary;
  font-weight: bold;
  font-size: 20px;
}

.template-icon {
  color: $secondary !important;
}

.template-chain {
  max-height: 20px;
  max-width: 20px;
  margin-left: 5px;
}

.template-component {
  display: flex;
  flex-flow: column;
  align-items: start;
}
