@import "../../styles.scss";

.page-title {
  color: $secondary;
}

.page-header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: none;
}

.page-filter {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.page-search {
  max-width: 200px;
  margin-left: 10px;
}

.page-select {
  width: 200px;
}
