@use "../../styles.scss" as *;

.page-title {
  color: $primary;
}

.page-header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: none;
  padding: 0 2rem 0 2rem;
}

.page-search {
  max-width: 200px;
}

.page-select {
  width: 200px;
}
