@use "../../styles.scss" as *;

.solana-program-keypair-alert {
  margin-bottom: 20px;
}

.doc-link {
  font-size: 10px;
  font-style: italic;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
