@use "../../styles.scss" as *;

.ant-input-json {
  position: relative;
  display: inline-block;
  width: 100%;
  color: rgba(255, 255, 255, 0.85);
  background-color: transparent;
  border: 1px solid #434343;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

.ant-input-json:hover {
  border-color: $primary;
}

.ant-input-json:focus,
.ant-input-json:focus-within {
  border-color: $primary;
  box-shadow: 0 0 0 2px rgba(24, 255, 224, 0.2);
}

/* Disabled state */
.ant-input-json:disabled {
  color: rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.04);
  border-color: #434343;
  cursor: not-allowed;
}
