/* Commonly used color */
$primary: #1e407c;
$secondary: #235abc;
$success: #52c41a;

.page {
  padding: 0 2rem 2rem 2rem;
  height: 100vh;
  overflow-y: hidden;
}

.item-dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 2rem;
}

.select-icon {
  max-width: 20px;
  max-height: 20px;
}

.item-dashboard::-webkit-scrollbar {
  display: none;
}
