/* Commonly used color */
$primary: #1e407c;
$secondary: #235abc;
$success: #52c41a;

.page {
  padding: 0 2rem 2rem 2rem;
  height: 100vh;
  overflow-y: hidden;
}

.select-icon {
  width: 20px !important;
  height: 20px !important;
}

.masonry-container {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
