/* Commonly used color */
$primary: #1e407c;
$secondary: #235abc;
$success: #52c41a;
$gray: #595959;

.page {
  height: 100vh;
  overflow-y: hidden;
}

.masonry-item {
  margin: 5px;
}

.masonry-container {
  padding: 0 calc(2rem - 5px) 2rem calc(2rem - 5px);
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.function-name {
  font-weight: bold;
}
